@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.row{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #000;
    position: relative;
    text-transform: uppercase;
}
.section-title h1::before{
    content: '';
    left: 0;
    right: 30%;
    position: absolute;
    height: 2px;
    background-color: #febd01;
    bottom: 0;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* Landing Page Start */
.wrapper{
    width: 100%;
    background-color: #334BC5;
    background-image: url("../images/backgroundImage.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-blend-mode: lighten;
    
}
.rows{
    display: flex;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: space-between;
}
/* .side-img{
    max-width: 400px;
    background-color: #1227e2;
} */
.side-img img{
    max-width: 418px;
}

.form-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 10px;
}
.form-overlay.show{
    display: flex;
}
.form-overlay.hide{
    display: none;
}
.form-overlay .form-con{
    background: #fff;
    max-width: 600px;
    max-height: auto;
    padding: 20px 0;
    border-radius: 8px;
    position: relative; 
    transition: all .3s ease-in-out;
    animation: skew .3s ease-in-out;
}
.form-over .form-con{
    animation: skew .3s ease-in-out;
}
@keyframes skew{
    from{
        transform: scale(0.5);
    }to{
        transform: scale(1);
    }
}
.form-overlay .form-con .logo{
    background-color: #1227e2;
    padding: 15px 20px;
}
.form-con .reg-con{
    width: 100%;
    height: 70px;
    text-align: center;
}
.form-con form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-con form .form-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.form-con form .form-close.fa:hover{
    color: #1227e2;
}
.form-con form .confrim{
    margin-bottom: 20px;
    max-width: 330px;
}
.form-con form > a{
    background-color: #1227e2;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.form-con form .sign-log{
    width: 100%;
    text-align: center;
}
.form-con form > input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #888888;
}
.form-con form > input:focus{
    border: 2px solid #1227e2;
}
.form-con form > input:focus::placeholder{
    color: #1227e2;
}
.form-over{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 10px;
}
.form-over.show{
    display: flex;
}
.form-over.hide{
    display: none;
}
.form-over .form-con{
    background: #fff;
    max-width: 600px;
    max-height: auto;
    padding: 20px 0;
    border-radius: 8px;
    position: relative; 
    transition: all .3s ease-in-out;
}
.form-over .form-con .logo{
    background-color: #1227e2;
    padding: 15px 20px;
}
.form-con .reg-con{
    width: 100%;
    height: 70px;
    text-align: center;
}
.form-con form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-con form .form-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.form-con form .form-close.fa:hover{
    color: #1227e2;
}
.form-con form .confrim{
    margin-bottom: 20px;
    max-width: 330px;
}
.form-con form > a{
    background-color: #1227e2;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.form-con form .sign-log{
    width: 100%;
    text-align: center;
}
.form-con form > input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #888888;
}
.form-con form > input:focus{
    border: 2px solid #1227e2;
}
.form-con form > input:focus::placeholder{
    color: #1227e2;
}
nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    transition: all .3s ease-in-out;
}
@keyframes scrolldown{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}
nav.drop{
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    position: fixed;
    z-index: 90;
    animation: scrolldown .3s ease-in-out;
}
nav.drop ul li a{
    color: #1227e2;
    position: relative;
}
nav.drop ul li a:hover{
    color: #ffcd05;
}
nav.drop ul li .signin:hover{
    color: #1227e2;
}
nav.drop ul li .signin{
    color: #fff;
}
nav.drop ul li .signup{
    /* box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%); */
}
nav .logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}
.hamburger{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
.hamburger span{
    width: 40px;
    display: block;
    height: 5px;
    background-color:#1227e2;
    border-radius: 10px;
    position: absolute;
    opacity: 1;
}
.hamburger span::before,
.hamburger span::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    border-radius: 10px;
    background-color: #1227e2;
}
nav.drop .hamburger span{
    background-color: #1227e2;
}
nav.drop .hamburger span::before,
nav.drop .hamburger span::after {
    background-color: #1227e2;
}
.hamburger span::before{
    transform: translateY(-14px);
}
.hamburger span::after{
    transform: translateY(14px);
}
.hamburger.rot span{
    transform: translateX(-50px);
    background: transparent;
}
nav.drop .hamburger.rot span{
    transform: translateX(-50px);
    background: transparent;
}
.hamburger.rot span::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.rot span::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    transition: all .5s ease-in-out;
}
nav ul.open{
    display: flex;
    transition: all .5s ease-in-out;
}
nav ul li{
    list-style: none;
    padding-top: 5px;
    display: flex;
    align-items: center;
}
nav ul li a{
    color: #000000;
    text-decoration: none;  
    font-weight: 500;
}
nav.drop ul li a.active{
    color: #ffcd05;
}
nav ul li a.active{
    color: #ffcd05;
}
nav ul li .signin{
    background-color: #ffcd05;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
nav ul li .signup{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    color: #334BC5;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 30px 0;
}
.banner .draw{
    /* background-color: #fff; */
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .draw img{
    width: 90%;
}
.banner-text{
    color: #000000;
    padding: 15px;
}
.banner-text h4{
    font-size: 1.3rem;
}
.banner-text h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.banner-text p{
    max-width: 450px;
    margin-bottom: 50px;
}
.banner-text a{
    background-color:  #334BC5;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
}
/* Landing Page End  */

/* Services Starts  */
.services{
    width: 100%;
    height: auto;
    background-color: #F5F8FD;
    padding: 50px 0;
}
.services .our-services{
    text-align: center;
    width: 100%;
}
.services .our-services h1{
    color: #1227e2;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 60px;
}
.services .our-services h1::before{
    content: '';
    background-color: #ffcd05;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
}
.service-content{
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    /* grid-template-areas: 
    "" "" "",
    "" "" ""; */
}
.service-content .box{
    background-color: #ffffff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    /* width: 330px; */
    height: 470px;
    position: relative;
}
.service-content .box::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #ffcd05;
    width: 0%;
    transition: all .5s ease;
}
.service-content .box:hover{
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
.service-content .box:hover::before{
    width: 100%;
}
.service-content .box .ser-img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-content .box .ser-img img{
    max-width: 150px;
}
.service-content .box .ser-text{
    text-align: center;
    width: 100%;
    padding: 5px 10px;
}
.service-content .box .ser-text h2{
    margin-bottom: 10px;
    color: #000;
}
.service-content .box .ser-text p{
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #777777;
}
.service-content .box a{
    text-decoration: none;
    color: #fff;
    background-color: #1227e2;
    padding: 5px 10px;
    border-radius: 20px;

}
.service-content .box a:hover{
    background-color: #fff;
    color: #1227e2;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
/* Services Ends  */

/* Team  */
.team-section{
	background-color:#0099ff;
	padding:50px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .row.ge{
    display: flex;
    flex-wrap: wrap;
 }
 .team-section .section-title h1{
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
 }
 .team-section .section-title h1::before{
    content: '';
    background-color: #ffcd05;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
}
 .team-section .team-box{
	 flex-basis: 33.33%;
	 max-width: 33.33%;
	 padding:15px; 
 }
 .team-section .team-box .inner-box .image-box{
	 background-color:#516aef;
	 padding:20px;
	 position: relative;
	 overflow: hidden;
 }
 
 .team-section .team-box .inner-box .image-box::before{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all .8s ease;
 }
 .team-section .team-box .inner-box:hover .image-box::before{
	 -webkit-transform: translateY(0%);
	 transform: translateY(0%);
 }
 .team-section .team-box .inner-box .image-box .img{
	 position: relative;
	 z-index: 2;
     overflow: hidden;
     background-color: blue;
 }
 
 .team-section .team-box .inner-box .image-box .img::before{
  content: '';
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height: 100%;
  background-color:rgba(130, 144, 223, 0.3);
  transform: translateY(100%);
  transition: all .8s ease;
  z-index: 2;
 }
 .team-section .team-box .inner-box:hover .image-box .img::before{
   -webkit-transform: translateY(0%);
	 transform: translateY(0%);
 }
 
 .team-section .team-box .inner-box .image-box .img .social-icons{
	 position: absolute;
	 left:0;
	 width: 100%;
	 bottom:0;
	 display: flex;
	 justify-content: center;
 }
 
 .team-section .team-box .inner-box .image-box .img .social-icons a{
	 display: inline-block;
	 height: 45px;
	 width: 45px;
	 background-color: #f3b90c;
	 text-align: center;
	 line-height: 45px;
	 font-size: 22px;
	 color:#ffffff;
	 transition: all .5s ease;
	 -webkit-transform: translateY(100%);
	 transform: translateY(100%);
	 z-index: 10;
 }
 .team-section .team-box .inner-box .image-box .img .social-icons a:nth-child(2){
	 transition-delay: 0.2s;
 }
 .team-section .team-box .inner-box .image-box .img .social-icons a:nth-child(3){
	 transition-delay: 0.4s;
 }
 .team-section .team-box .inner-box .image-box .img .social-icons a:nth-child(4){
	 transition-delay: 0.6s;
 }
 .team-section .team-box .inner-box:hover .image-box .img .social-icons a{
   -webkit-transform: translateY(-20px);
	 transform: translateY(-20px);	
 }
 .team-section .team-box .inner-box .image-box .img img{
  width: 100%;
  display: block;
  animation: img 1.8s ease alternate infinite;
 }
 @keyframes img{
	 0%{transform: scale(1);}
	 100%{transform: scale(1.1);}
 }
 
 .team-section .team-box .inner-box .caption-text{
	 padding:20px 20px ;
 }
 .team-section .team-box .inner-box .caption-text h4{
	 margin:0;
	 font-size: 24px;
	 color:#ffffff;
 }
 
 .team-section .team-box .inner-box .caption-text p{
	 font-size: 16px;
	 color:#d5d5d5;
	 margin:10px 0px;
 }

 /*About Me*/

.about-me{
    padding: 100px 15px;
    background-color: #fff;
    transition: all .5s;
}
.text-transform{
    text-transform: uppercase;
}
.about-me .section-title p.small{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}
.letter-left{
    margin-bottom: 50px;
    text-align: center;
}
.about-me .section-title h1::before {
    content: '';
    background-color: #ffcd05;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
}
.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 100%;
    display: block;
    transform: rotateY(180deg);
}
.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}
.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000;
}
.about-me .about-content .text h6 span{
    color: #febd01;
}
.about-me .about-content .text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}
.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list{ 
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}
.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000;
    font-weight: 600;
}
.about-me .about-content .text .info .list p{
    margin: 0px;
}
.about-me .about-content .text .social-links{
    padding-top: 30px;
}
.about-me .about-content .text .social-links a{
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover{
    background: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #fff;
    font-size: 12px;
}
.about-me .about-content .text .social-links a:hover .fa{
    color: #000;
}


 /* Contact Us */
 .contact-us{
    background-color: #f5f8fd;
    padding: 100px 15px;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.contact-us .section-title h1::before{
    left: 30%;
}
.contact-us .contact-form{
    background-color: #fff;
    flex: 0 0 100%;
    max-width: 600px;
    padding: 40px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin: 20px auto;
}
.contact-us .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact-us .contact-form .text h2{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    color: #838383;
    line-height: 24px;
    margin: 0;
}
.contact-us .contact-form .space-between{
    justify-content: space-between;
}
.contact-us .contact-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
}
.contact-us .contact-form  .area {
    height: 150px;
    
}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
    font-family: 'Poppins', sans-serif;
}

.contact-us .contact-form .button{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #f3b90c;
    box-shadow: 0 10px 15px #d5d5d5;
    border: none;
}
.contact-us .contact-form .button a:hover{
    background-color: #000;
    color: #fff;
}

/* Footer */
footer{
    padding: 70px 15px 30px;
    background-color: #0c0c17;
}
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}
footer .social a{
        color: #eeeeee;
        text-decoration: none;
        margin: 0px 12px;
        transition: all .5s ease;
        text-decoration: none;
}
footer .social a:hover{
    color: #fff;
}
footer .to-top{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding-right: 30px;
}
footer .to-top .fa{
    color: #ddd3d3;
    font-size: 40px;
}
footer .to-top .fa:hover{
    color: #fff;
}

/* copyright */
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}


@media screen and (min-width: 931px) {
    .banner-text h1{
        font-size: 5rem;
    }
    .banner-text h4{
        font-size: 1.7rem;
    }
    .hamburger{
        display: none;
    }
}
@media screen and (max-width: 1141px){
    .side-img{
        display: none;
    }
    .rows{
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 931px) {
    nav ul{
        display: none;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #ffffff;
        padding: 20px;
        z-index: 20;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    }
    nav,
    nav.drop{
        width: 100%;
    }
    nav.drop ul li .signin{
        color: #1227e2;
    } 
    nav ul li a{
        color: #1227e2;
    }
    nav ul li a:hover{
        color: #ffcd05;
    }
    nav.drop ul li a{
        color: #1227e2;
    }
    nav ul li .signin{
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        color: #1227e2;
    }
    nav ul li .signup{
        background-color: transparent;
        padding: 0;
        border-radius: none;
        color: #1227e2;
    }
    nav ul::before{
        content: '';
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        top: -10px;
        right: 30px;
        transform: rotate(-45deg);
        z-index: 2;
    }

    .service-content{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    }
}
@media(max-width: 767px){
    .team-section .team-box{
        max-width: 100%;
        flex-basis: 100%;
    }
    .about-me .about-content .text{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }
    .about-me .about-content .img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-us .contact-form{
        padding: 20px;
    }
    .contact-us .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 637px) {
    .service-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 20px;
        }
        .banner .draw{
            display: none;
        }
}
