@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.row{
    max-width: 1000px;
    margin: 0 auto;
}
/* Landing Page Start */
.wrapper{
    width: 100%;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3CradialGradient id='a' cx='800' cy='371' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231227e2'/%3E%3Cstop offset='1' stop-color='%231227e2'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='800' cy='371' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230EF' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%230EF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Cg fill='none' stroke='%2303E' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Cpolygon points='2277.4 1152 800-1407-677.4 1152'/%3E%3Cpolygon points='800-1372.9-648.8 1136.5 2248.8 1136.5'/%3E%3Cpolygon points='800-1338.8-620.2 1121.1 2220.2 1121.1'/%3E%3Cpolygon points='800-1304.7-591.6 1105.6 2191.6 1105.6'/%3E%3Cpolygon points='800-1270.6-563 1090.2 2163 1090.2'/%3E%3Cpolygon points='800-1236.5-534.4 1074.7 2134.4 1074.7'/%3E%3Cpolygon points='800-1202.4-505.8 1059.3 2105.8 1059.3'/%3E%3Cpolygon points='800-1168.3-477.2 1043.8 2077.2 1043.8'/%3E%3Cpolygon points='800-1134.2-448.6 1028.4 2048.6 1028.4'/%3E%3Cpolygon points='800-1100.1-420 1012.9 2020 1012.9'/%3E%3Cpolygon points='800-1066-391.4 997.5 1991.4 997.5'/%3E%3Cpolygon points='800-1031.9-362.7 982 1962.7 982'/%3E%3Cpolygon points='800-997.8-334.1 966.6 1934.1 966.6'/%3E%3Cpolygon points='800-963.7-305.5 951.1 1905.5 951.1'/%3E%3Cpolygon points='800-929.6-276.9 935.7 1876.9 935.7'/%3E%3Cpolygon points='800-895.5-248.3 920.2 1848.3 920.2'/%3E%3Cpolygon points='800-861.4-219.7 904.7 1819.7 904.7'/%3E%3Cpolygon points='800-827.3-191.1 889.3 1791.1 889.3'/%3E%3Cpolygon points='800-793.2-162.5 873.8 1762.5 873.8'/%3E%3Cpolygon points='800-759.1-133.9 858.4 1733.9 858.4'/%3E%3Cpolygon points='800-725-105.3 842.9 1705.3 842.9'/%3E%3Cpolygon points='800-690.9-76.7 827.5 1676.7 827.5'/%3E%3Cpolygon points='800-656.8-48.1 812 1648.1 812'/%3E%3Cpolygon points='800-622.7-19.4 796.6 1619.4 796.6'/%3E%3Cpolygon points='800-588.6 9.2 781.1 1590.8 781.1'/%3E%3Cpolygon points='800-554.5 37.8 765.7 1562.2 765.7'/%3E%3Cpolygon points='800-520.5 66.4 750.2 1533.6 750.2'/%3E%3Cpolygon points='800-486.4 95 734.8 1505 734.8'/%3E%3Cpolygon points='800-452.3 123.6 719.3 1476.4 719.3'/%3E%3Cpolygon points='800-418.2 152.2 703.9 1447.8 703.9'/%3E%3Cpolygon points='800-384.1 180.8 688.4 1419.2 688.4'/%3E%3Cpolygon points='800-350 209.4 673 1390.6 673'/%3E%3Cpolygon points='800-315.9 238 657.5 1362 657.5'/%3E%3Cpolygon points='800-281.8 266.6 642 1333.4 642'/%3E%3Cpolygon points='800-247.7 295.2 626.6 1304.8 626.6'/%3E%3Cpolygon points='800-213.6 323.9 611.1 1276.1 611.1'/%3E%3Cpolygon points='800-179.5 352.5 595.7 1247.5 595.7'/%3E%3Cpolygon points='800-145.4 381.1 580.2 1218.9 580.2'/%3E%3Cpolygon points='800-111.3 409.7 564.8 1190.3 564.8'/%3E%3Cpolygon points='800-77.2 438.3 549.3 1161.7 549.3'/%3E%3Cpolygon points='800-43.1 466.9 533.9 1133.1 533.9'/%3E%3Cpolygon points='800-9 495.5 518.4 1104.5 518.4'/%3E%3Cpolygon points='800 25.1 524.1 503 1075.9 503'/%3E%3Cpolygon points='800 59.2 552.7 487.5 1047.3 487.5'/%3E%3Cpolygon points='800 93.3 581.3 472.1 1018.7 472.1'/%3E%3Cpolygon points='800 127.4 609.9 456.6 990.1 456.6'/%3E%3Cpolygon points='800 161.5 638.5 441.2 961.5 441.2'/%3E%3Cpolygon points='800 195.6 667.2 425.7 932.8 425.7'/%3E%3Cpolygon points='800 229.7 695.8 410.2 904.2 410.2'/%3E%3Cpolygon points='800 263.8 724.4 394.8 875.6 394.8'/%3E%3Cpolygon points='800 297.9 753 379.3 847 379.3'/%3E%3Cpolygon points='800 332 781.6 363.9 818.4 363.9'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1600' height='900'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    height: 100vh;
}
.eclip{
    background-image: url(./images/elipse-home-slide.png);
    position: absolute;
    background-size: cover;
    width: 700px;
    height: 700px;
    top: -100px;
    left: -100px;
}
.eclip2{
    background-image: url(./images/plus-dark-pattern.png);
    position: absolute;
    background-size: cover;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 20px;
}
.form-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 10px;
}
.form-overlay.show{
    display: flex;
}
.form-overlay.hide{
    display: none;
}
.form-overlay .form-con{
    background: #fff;
    max-width: 600px;
    max-height: auto;
    padding: 20px 0;
    border-radius: 8px;
    position: relative; 
    transition: all .3s ease-in-out;
}
.form-overlay .form-con .logo{
    background-color: #1227e2;
    padding: 15px 20px;
}
.form-con .reg-con{
    width: 100%;
    height: 70px;
    text-align: center;
}
.form-con form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-con form .form-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.form-con form .form-close.fa:hover{
    color: #1227e2;
}
.form-con form .confrim{
    margin-bottom: 20px;
    max-width: 330px;
}
.form-con form > a{
    background-color: #1227e2;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.form-con form .sign-log{
    width: 100%;
    text-align: center;
}
.form-con form > input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #888888;
}
.form-con form > input:focus{
    border: 2px solid #1227e2;
}
.form-con form > input:focus::placeholder{
    color: #1227e2;
}
.form-over{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 10px;
}
.form-over.show{
    display: flex;
}
.form-over.hide{
    display: none;
}
.form-over .form-con{
    background: #fff;
    max-width: 600px;
    max-height: auto;
    padding: 20px 0;
    border-radius: 8px;
    position: relative; 
    transition: all .3s ease-in-out;
}
.form-over .form-con .logo{
    background-color: #1227e2;
    padding: 15px 20px;
}
.form-con .reg-con{
    width: 100%;
    height: 70px;
    text-align: center;
}
.form-con form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.form-con form .form-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.form-con form .form-close.fa:hover{
    color: #1227e2;
}
.form-con form .confrim{
    margin-bottom: 20px;
    max-width: 330px;
}
.form-con form > a{
    background-color: #1227e2;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.form-con form .sign-log{
    width: 100%;
    text-align: center;
}
.form-con form > input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #888888;
}
.form-con form > input:focus{
    border: 2px solid #1227e2;
}
.form-con form > input:focus::placeholder{
    color: #1227e2;
}
nav{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    transition: all .3s ease-in-out;
}
@keyframes scrolldown{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}
nav.drop{
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    position: fixed;
    z-index: 90;
    animation: scrolldown .3s ease-in-out;
}
nav.drop ul li a{
    color: #1227e2;
    position: relative;
}
nav.drop ul li a:hover{
    color: #ffcd05;
}
nav.drop ul li .signin:hover{
    color: #1227e2;
}
nav.drop ul li .signin{
    color: #fff;
}
nav.drop ul li .signup{
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
nav .logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}
.hamburger{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
.hamburger span{
    width: 40px;
    display: block;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    opacity: 1;
}
.hamburger span::before,
.hamburger span::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    border-radius: 10px;
    background-color: #fff;
}
nav.drop .hamburger span{
    background-color: #1227e2;
}
nav.drop .hamburger span::before,
nav.drop .hamburger span::after {
    background-color: #1227e2;
}
.hamburger span::before{
    transform: translateY(-14px);
}
.hamburger span::after{
    transform: translateY(14px);
}
.hamburger.rot span{
    transform: translateX(-50px);
    background: transparent;
}
nav.drop .hamburger.rot span{
    transform: translateX(-50px);
    background: transparent;
}
.hamburger.rot span::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.rot span::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    transition: all .5s ease-in-out;
}
nav ul.open{
    display: flex;
    transition: all .5s ease-in-out;
}
nav ul li{
    list-style: none;
    padding-top: 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
nav ul li .signin{
    background-color: #ffcd05;
    padding: 10px 20px;
    border-radius: 20px;
}
nav ul li .signup{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    color: #1227e2;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 30px 0;
}
.banner .draw{
    /* background-color: #fff; */
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .draw img{
    width: 90%;
}
.banner-text{
    color: #ffffff;
    padding: 15px;
}
.banner-text h4{
    font-size: 1.3rem;
}
.banner-text h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.banner-text p{
    max-width: 450px;
    margin-bottom: 50px;
}
.banner-text a{
    background-color:  #ffcd05;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
}
/* Landing Page End  */

/* Services Starts  */
.services{
    width: 100%;
    height: auto;
    background-color: #F5F8FD;
    padding: 50px 0;
}
.services .our-services{
    text-align: center;
}
.services .our-services h1{
    color: #1227e2;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 60px;
}
.services .our-services h1::before{
    content: '';
    background-color: #ffcd05;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
}
.service-content{
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    /* grid-template-areas: 
    "" "" "",
    "" "" ""; */
}
.service-content .box{
    background-color: #ffffff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    /* width: 330px; */
    height: 470px;
    position: relative;
}
.service-content .box::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #ffcd05;
    width: 0%;
    transition: all .5s ease;
}
.service-content .box:hover{
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
.service-content .box:hover::before{
    width: 100%;
}
.service-content .box .ser-img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-content .box .ser-img img{
    max-width: 150px;
}
.service-content .box .ser-text{
    text-align: center;
    width: 100%;
    padding: 5px 10px;
}
.service-content .box .ser-text h2{
    margin-bottom: 10px;
    color: #000;
}
.service-content .box .ser-text p{
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #777777;
}
.service-content .box a{
    text-decoration: none;
    color: #fff;
    background-color: #1227e2;
    padding: 5px 10px;
    border-radius: 20px;

}
.service-content .box a:hover{
    background-color: #fff;
    color: #1227e2;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}
/* Services Ends  */
@media screen and (min-width: 931px) {
    .banner-text h1{
        font-size: 5rem;
    }
    .banner-text h4{
        font-size: 1.7rem;
    }
    .hamburger{
        display: none;
    }
}
@media screen and (max-width: 931px) {
    nav ul{
        display: none;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #ffffff;
        padding: 20px;
        z-index: 20;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    }
    nav.drop{
        width: 100%;
    }
    nav.drop ul{
        background-color: #1227e2;
    }
    nav ul .signin-tab {
        margin-top: 5px;
    }   
    nav ul .signup-tab {
        margin-top: 10px;
    }
    nav ul li a{
        color: #1227e2;
    }
    nav ul li a:hover{
        color: #ffcd05;
    }
    nav.drop ul li a{
        color: #fff;
    }
    nav ul li .signin{
        background-color: #1227e2;
        padding: 5px;
        border-radius: 20px;
        color: #ffcd05;
    }
    nav ul li .signup{
        background-color: #ffcd05;
        padding: 5px;
        border-radius: 20px;
        color: #1227e2;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
    }
    nav ul::before{
        content: '';
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        top: -10px;
        right: 30px;
        transform: rotate(-45deg);
        z-index: 2;
    }
    nav.drop ul::before{
        background-color: #1227e2;
    }
    .eclip{
        display: none;
    }
    .eclip2{
        display: none;
    }
    .service-content{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    }
}
@media screen and (max-width: 637px) {
    .service-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 20px;
        }
        .banner .draw{
            display: none;
        }
}
